{% extends 'home/base.html' %}
{% block title %}
    {% if form.instance.pk %}
        Colaboradores : Editar {{ object.usuario }}
    {% else %}
        Colaboradores : Crear nuevo usuario
    {% endif %}
{% endblock title %}
{% block body_title %}
    Colaboradores
{% endblock body_title %}
{% block body_subtitle %}
    {% if form.instance.pk %}
        Modifique datos de {{ object.usuario }}
    {% else %}
        Crear un usuario colaborador nuevo
    {% endif %}
{% endblock body_subtitle %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Confirmar</button>
    </form>
{% endblock content %}
