{% extends 'home/base.html' %}
{% block title %}
    {% if form.instance.pk %}
        Colaboradores: Editar {{ object.usuario }}
    {% else %}
        Colaboradores: Crear nuevo usuario
    {% endif %}
{% endblock title %}
{% block body_title %}
    <h1 class="display-4 text-center mb-4">Colaboradores</h1>
{% endblock body_title %}
{% block body_subtitle %}
    {% if form.instance.pk %}
        Modifique datos de {{ object.usuario }}
    {% else %}
        Crear un usuario colaborador nuevo
    {% endif %}
{% endblock body_subtitle %}
{% block content %}
    <div class="container">
        <form method="post" class="mt-4">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
    </div>
{% endblock content %}
