{% extends 'home/base.html' %}
{% block title %}
    Colaboradores: {{ object.usuario }}
{% endblock title %}
{% block body_title %}
    <h1 class="display-4 text-center mb-4">Sobre {{ object.usuario }}</h1>
{% endblock body_title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="list-group">
                    <li class="list-group-item text-center">
                        <img src="{{ object.foto_perfil.url }}"
                             alt="Foto Perfil"
                             style="width: 200px;
                                    height: 200px">
                    </li>
                    <li class="list-group-item">
                        <h4>Edad: {{ object.edad }} años</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Sexo: {{ object.genero }}</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Biografía:</h4>
                        <p>{{ object.biografia }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'colaborador:colaborador_list' %}"
               class="btn btn-secondary">Volver</a>
            <a href="{% url 'home:index' %}" class="btn btn-primary ml-3">Ir a Inicio</a>
        </div>
    </div>
{% endblock content %}
